:root {
    --background-color: black;
    --text-color: white;
    --entry-path-color: white;
    --test-color: rgb(6, 69, 206);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
}

div.controls {
    display: inline-grid;
    grid-template-columns: repeat(8, max-content);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    align-items: center;
}

#chart {
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
    div.controls {
        grid-template-columns: repeat(4, max-content);
    }
}

.chart .direct {
    fill: #d5e0fe;
    stroke: #aaa;
    opacity: 50%;
}

.chart .teardrop {
    fill: #656371;
    stroke: #aaa;
    opacity: 50%;
}

.chart .parallel {
    fill: #ff7369;
    stroke: #aaa;
    opacity: 50%;
}

.segment-label {
    fill: var(--text-color);
}

.racetrack-arrow {
    fill: #f00;
}

#racetrack-group path {
    fill-opacity: 0;
    stroke: #000;
    stroke-width: 2;
}

#entry-group text {
    fill: var(--text-color);
}

.entry-arrow {
    fill: var(--entry-path-color);
}

#entry-group path,line {
    stroke: var(--entry-path-color);
    stroke-width: 1;    
    stroke-dasharray: 3 3;
}